/* ========================
  Import
======================== */
@import '../../../styles/variables.scss';

/* ========================
  Event Card
======================== */
.EventCard{
  width: 400px; height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  transition: .35s;
  img{
    width: 350px; height: 350px;
    object-fit: cover;
  }
  &:hover{
    background-color: $white;
  }
}